In [72]:
--Create the project database
--create database ist659project

In [73]:
use ist659project
GO

In [74]:
--DOWN

--Down constraints
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_product_locations_product_id')
    alter table product_locations drop constraint fk_product_locations_product_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_product_locations_location_id')
    alter table product_locations drop constraint fk_product_locations_location_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'df_products_valid_from')
    alter table product_locations drop constraint df_products_valid_from
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'df_products_valid_to')
    alter table product_locations drop constraint df_products_valid_to
if exists (select * from INFORMATION_SCHEMA.COLUMNS
    where table_name = 'products')
    alter table products set (system_versioning = off)


if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'u_locations_location_name')
    alter table locations drop constraint u_locations_location_name
    
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_store_order_lines_order_id')
    alter table store_order_lines drop constraint fk_store_order_lines_order_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_store_order_lines_product_id')
    alter table store_order_lines drop constraint fk_store_order_lines_product_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_store_order_lines_status_id')
    alter table store_order_lines drop constraint fk_store_order_lines_status_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_store_order_lines_unit_price')
    alter table store_order_lines drop constraint ck_store_order_lines_unit_price
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_store_order_lines_item_qty')
    alter table store_order_lines drop constraint ck_store_order_lines_item_qty

if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_customer_order_lines_product_id')
    alter table customer_order_lines drop constraint fk_customer_order_lines_product_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'customer_order_line_order_id')
    alter table customer_order_lines drop constraint fk_store_order_lines_status_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_customer_order_lines_unit_price')
    alter table customer_order_lines drop constraint ck_customer_order_lines_unit_price
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_customer_order_lines_item_qty')
    alter table customer_order_lines drop constraint ck_customer_order_lines_item_qty

if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'u_order_statuses_status_name')
    alter table order_statuses drop constraint u_order_statuses_status_name

if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_products_category_id')
    alter table products drop constraint fk_products_category_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'fk_products_supplier_id')
    alter table products drop constraint fk_products_supplier_id
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'u_products_product_barcode')
    alter table products drop constraint u_products_product_barcode
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'u_products_product_name')
    alter table products drop constraint u_products_product_name
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_products_product_inv_stock')
    alter table products drop constraint ck_products_product_inv_stock
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_products_product_min_qty')
    alter table products drop constraint ck_products_product_min_qty
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_products_product_purchase_qty')
    alter table products drop constraint ck_products_product_purchase_qty

if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'u_suppliers_supplier_name')
    alter table suppliers drop constraint u_suppliers_supplier_name
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'u_suppliers_supplier_address')
    alter table suppliers drop constraint u_suppliers_supplier_address
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'u_suppliers_supplier_email')
    alter table suppliers drop constraint u_suppliers_supplier_email
if exists(select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    where CONSTRAINT_NAME = 'ck_suppliers_supplier_lead_time')
    alter table suppliers drop constraint ck_suppliers_supplier_lead_time

--Down tables
drop table if exists product_locations
drop table if exists locations
drop table if exists store_order_lines
drop table if exists store_orders
drop table if exists order_statuses
drop table if exists customer_order_lines
drop table if exists customer_orders
drop table if exists categories
drop table if exists products_history
drop table if exists products
drop table if exists suppliers

In [75]:
--SUPPLIERS UP
create table suppliers (
	supplier_id int identity not null,
	supplier_name VARCHAR(50) not null,
	supplier_address VARCHAR(50)not null,
	supplier_email VARCHAR(50) not null,
	supplier_lead_time INT not null, -- in days 
	constraint pk_suppliers_supplier_id primary key (supplier_id),
	constraint u_suppliers_supplier_name unique (supplier_name),
	constraint u_suppliers_supplier_address unique (supplier_address),
	constraint u_suppliers_supplier_email unique (supplier_email),
	constraint ck_suppliers_supplier_lead_time check (supplier_lead_time > 0)
);

In [76]:
--CATEGORIES UP
create table categories (
	category_id int identity not null,
	category_name VARCHAR(20) not null,
	constraint pk_categories_category_id primary key (category_id)
);

In [77]:
--PRODUCTS UP
create table products (
	product_id int identity not null,
	product_barcode VARCHAR(12) not null,
	product_name VARCHAR(10) not null,
	product_description VARCHAR(100),
	product_inv_stock int not null,
	product_inv_in_transit int not null,
	product_inv_total int not null,
	product_min_qty int not null,
	product_purchase_qty int not null,
	product_category_id int not null,
	product_supplier_id int not null,
	constraint pk_products_product_id primary key (product_id),
	constraint fk_products_category_id foreign key (product_category_id) references categories,
	constraint fk_products_supplier_id foreign key (product_supplier_id) references suppliers,
	constraint u_products_product_barcode unique (product_barcode),
	constraint u_products_product_name unique (product_name),
	constraint ck_products_product_inv_stock check (product_inv_stock > 0),
	constraint ck_products_product_min_qty check (product_min_qty > 0),
	constraint ck_products_product_purchase_qty check (product_purchase_qty > 0)
);  

-- Make Temporal
alter table products add 
	valid_from datetime2 (2) generated always as row start 
		constraint df_products_valid_from default dateadd(second, -1, sysutcdatetime()),
	valid_to datetime2 (2) generated always as row end 
		constraint df_products_valid_to default '9999.12.31 23:59:59.99',
	period for system_time (valid_from, valid_to)
go

alter table products set (system_versioning = on (history_table = dbo.products_history));
go

In [78]:
--ORDER_STATUSES UP + DATA
create table order_statuses (
	status_id int identity not null,
	status_name VARCHAR(10) not null,
    constraint order_statuses_status_id primary key (status_id),
    constraint u_order_statuses_status_name unique (status_name)
);

In [79]:
--CUSTOMER_ORDERS UP
create table customer_orders (
	customer_order_id int identity not null,
	customer_order_date datetime not null,
	customer_order_subtotal decimal(6,2) not null,
	customer_order_tax decimal(6,2) not null,
	customer_order_total decimal(6,2) not null,
	constraint pk_customer_orders_order_id primary key (customer_order_id)
);

In [80]:
--CUSTOMER_ORDER_LINES UP
create table customer_order_lines (
	customer_order_line_id int identity not null,
	customer_order_line_product_id int not null,
	customer_order_line_unit_price decimal(6,2) not null,
	customer_order_line_item_qty decimal(6,2) not null,
	customer_order_line_total decimal(6,2) not null,
	customer_order_line_order_id int not null,
	constraint pk_customer_order_lines_customer_order_line_id primary key (customer_order_line_id),
	constraint fk_customer_order_lines_product_id foreign key (customer_order_line_product_id) references products,
	constraint fk_customer_order_lines_order_id foreign key (customer_order_line_order_id) references customer_orders,
	constraint ck_customer_order_lines_unit_price check (customer_order_line_unit_price > 0),
	constraint ck_customer_order_lines_item_qty check (customer_order_line_item_qty > 0)
);

In [81]:
--STORE_ORDERS UP
create table store_orders (
	store_order_id int identity not null,
	store_order_date datetime not null,
	store_order_subtotal decimal (6,2) not null,
	store_order_tax decimal (6,2) not null,
	store_order_total decimal (6,2) not null,
	constraint pk_store_orders_store_order_id primary key (store_order_id)
);

In [82]:
--STORE_ORDER_LINES UP
create table store_order_lines (
	store_order_line_id int identity not null,
	store_order_line_order_id int not null,
	store_order_line_product_id int not null,
	store_order_line_unit_price decimal(6,2) not null,
	store_order_line_item_qty decimal(6,2) not null,
	store_order_line_total decimal(6,2) not null,
	store_order_line_status int not null,
	store_order_line_arrival_date datetime not null,
	constraint pk_store_order_lines_store_order_line_id primary key (store_order_line_id),
	constraint fk_store_order_lines_order_id foreign key (store_order_line_order_id) references store_orders,
	constraint fk_store_order_lines_product_id foreign key (store_order_line_product_id) references products,
	constraint fk_store_order_lines_status_id foreign key (store_order_line_status) references order_statuses,
	constraint ck_store_order_lines_unit_price check (store_order_line_unit_price > 0),
	constraint ck_store_order_lines_item_qty check (store_order_line_item_qty > 0)
);

In [83]:
--LOCATIONS UP
create table locations (
    location_id int identity not null,
    location_name varchar(2) not null,
    constraint pk_locations_location_id primary key (location_id),
    constraint u_locations_location_name unique (location_name)
);

In [84]:
--PRODUCT_LOCATIONS UP
create table product_locations (
    product_id int not null,
    location_id int not null,
);